.titulo{
  margin-left: 25px;
  margin-top: 5px;
 color: #4fabf1;
 font-size: 30px;


}
.type{
  margin-left: 25px;
  /* margin-top: 100px; */

}
.combobox1{
  /* margin-top: 700px; */
  margin-left: 50px;

}
.date{
  margin-left: 25px;
  margin-right: 10px;
}
.calendar{
  margin-left: 30px;
  /* margin-top:700px; */
  margin-right: 10px;

}
.hrinicio{
  margin-left: 25px;
}
.hora-in{
  margin-left: 25px;
  /* margin-top: 100px; */

}
.hora-fim{
  margin-left: 25px;
  /* margin-top: 100px; */
}
.hrfim{
  margin-left: 36px;
}

.btn-addReuniao{
  margin-top: 80px;
  margin-left: 1245px;
  /* margin-right: 10px; */
}
.btn-addItem{
  margin-top: 80px;
  margin-left: 25px;
}
