<app-menu [breadcrumb]=breadcrumb></app-menu>
<div class="ui-fluid">
  <div class="p-grid">
    <form #reuniaoForm="ngForm" (ngSubmit)="salvar()">
      <p-card>
        <div class="p-grid">
          <div class="p-col-10">
            <h1 class="titulo">{{editando ? 'Edição de' : 'Cadastro de'}} Reunião</h1>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col-3 div">
            <label> Tipo:</label>
            <p-dropdown ariaFilterLabel=null required [options]="tipoReuniao" size="25" optionLabel="label" ngModel
              name="tipo" [(ngModel)]=tipo #tipoDeReuniao="ngModel"></p-dropdown>
            <p-message severity="error" text="Campo Obrigatório" *ngIf="tipoDeReuniao.invalid && tipoDeReuniao.touched">
            </p-message>
          </div>
          <div class="p-col-3 div">
            <label> Data:</label>
            <p-calendar ngModel name="data" required [(ngModel)]=data [locale]="pt" dateFormat="dd/mm/yy"
              [showIcon]="true" #dataReuniao="ngModel">
            </p-calendar>
            <p-message severity="error" text="Campo Obrigatório" *ngIf="dataReuniao.invalid && dataReuniao.touched"></p-message>
          </div>
          <div class="p-col-3 div">
            <label> Horário de início:</label>
            <p-calendar [timeOnly]="true" required hourFormat="24" ngModel name="horaInicio" [(ngModel)]=horaInicio
              #horaDeInicio="ngModel">
            </p-calendar>
            <p-message severity="error" text="Campo Obrigatório" *ngIf="horaDeInicio.invalid && horaDeInicio.touched">
            </p-message>
          </div>
          <div class="p-col-3 div">
            <label> Horário de Término:</label>
            <p-calendar [timeOnly]="true" required hourFormat="24" ngModel name="horaFim" [(ngModel)]=horaFim
              #horaDeFim="ngModel">
            </p-calendar>
            <p-message severity="error" text="Campo Obrigatório" *ngIf="horaDeFim.invalid && horaDeFim.touched"></p-message>
          </div>
        </div>
        <p-button type="button" class="btn-addItem" label="adicionar itens de pauta" (click)="showDialog()"></p-button>

      </p-card>
      <br>
      <p-card>
        <p-paginator [rows]="4" [totalRecords]="totalRegistros" (onPageChange)="aoMudarPagina($event)">
        </p-paginator>
        <p-table [columns]="cols" [value]="reuniao.itensDePauta" [responsive]="true" class="table">
          <ng-template pTemplate="caption">
            Lista de Itens de Pauta
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">{{col.header}}</th>
              <th>Ação</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                <!-- <span class="ui-column-title">{{col.header}}</span> -->
                {{rowData[col.field]}}
              </td>
              <td>
                <p-button type="button" icon="ui-button-danger pi pi-trash" (click)="excluirItem(rowData)"></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <br>
        <br>
        <div class="p-grid p-justify-end">
          <p-button type="submit" label="salvar" [disabled]="reuniaoForm.invalid"></p-button>
        </div>
      </p-card>
    </form>

    <p-dialog blockScroll="false" dispensableMask="true" header="Lista de Itens de Pauta" [responsive]="true"
      [(visible)]="display" [style]="{'width':'600px', 'height':'300px'}">
      <p-table #dt [columns]="cols" [value]="itens" [responsive]="true" class="table" [scrollable]="true"
        scrollHeight="300px">
        <ng-template pTemplate="header" let-columns>
          Buscar item:
          <tr [ngSwitch]="col.field" *ngFor="let col of columns">
            <!-- <th  [ngSwitch]="col.field">
                Buscar item
              </th> -->
            <input *ngSwitchCase="'descricao'" pInputText type="text"
              (input)="dt.filter($event.target.value, col.field, 'contains')">
          </tr>
          <th> Descrição</th>
          <th> Assunto</th>
          <th> Ação</th>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              <span class="ui-column-title">{{col.header}}</span>
              {{rowData[col.field]}}
            </td>
            <td>
              <p-button type="button" icon="ui-button-danger pi pi-plus" (click)="adicionarItem(rowData)"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-dialog>
  </div>
</div>
