.buttonSalvar{
  margin: 25px;
  margin-top:20px;
}
.dialogo{
  margin-right: 10px;
}

.tituloPagina{
  color: #00BFFF;
  margin-top: 25px;
}
.buttonSalvar{
  margin-top: 25px;
}
.div{
  margin-left: 35px;
  width: 250px;
}
