.buttonSalvar{
  margin: 35px;
  margin-top:25px;
}
.dialogo{
  margin-right: 10px;
}

.tituloPagina{
  color: #00BFFF;
  margin-top: 25px;
}

.div{
  margin-left: 35px;
  width: 250px;
}
.btn-associar{
  margin-left: 35px;
}
