<app-menu [breadcrumb]=breadcrumb></app-menu>
<div class="ui-fluid">
  <form #colegiadoCriar="ngForm" (ngSubmit)="adicionarColegiado(colegiadoCriar)">
    <div class="p-grid">
      <p-card>
        <div class="p-grid">

          <div class="p-col-8">
            <h1 class="tituloPagina" id="tituloPagina">Cadastro de Colegiado</h1>
          </div>

        </div>
        <div class="p-grid">
          <div class="p-col-3 div">
            <label>Início da vigência:</label>
            <p-calendar class="inputCriar" dateFormat="dd/mm/yy" [locale]="pt" [showIcon]="true" name="inicioDeVigencia"
              ngModel required #inicioDeVigencia="ngModel"></p-calendar>
            <p-message severity="error" text="Campo Obrigatório"
              *ngIf="inicioDeVigencia.invalid && inicioDeVigencia.touched"></p-message>
          </div>

          <div class="p-col-3 div">
            <label>Meses da vigência:</label>
            <p-spinner class="inputCriar" name="mesesDaVigencia" ngModel required
              #mesesDaVigencia="ngModel"></p-spinner>
            <p-message severity="error" text="Campo Obrigatório"
              *ngIf="mesesDaVigencia.invalid && mesesDaVigencia.touched"></p-message>
          </div>
          <div class="p-col-3 div">
            <label>Qtd. Discentes:</label>
            <br>
            <p-spinner class="inputCriar" size="2" [min]=0 name="qtdDiscentes" ngModel required #qtdDiscentes="ngModel">
            </p-spinner>
            <p-message severity="error" text="Campo Obrigatório" *ngIf="qtdDiscentes.invalid && qtdDiscentes.touched">
            </p-message>
          </div>
          <div class="p-col-3 div">
            <label>Qtd. Téc.-Administrativos:</label>
            <p-spinner class="inputCriar" size="2" [min]=0 name="qtdTecAdministrativos" ngModel required
              #qtdTecAdministrativos="ngModel"></p-spinner>
            <p-message severity="error" text="Campo Obrigatório"
              *ngIf="qtdTecAdministrativos.invalid && qtdTecAdministrativos.touched"></p-message>
          </div>
          <div class="p-col-3 div">
            <label>Portaria:</label>
            <input type="text" pInputText name="portaria" ngModel required #portaria="ngModel" />
            <p-message severity="error" text="Campo Obrigatório" *ngIf="portaria.invalid && portaria.touched">
            </p-message>
          </div>
          <div class="p-col-3 div">
            <label>Meses de recondução:</label>
            <br>
            <p-spinner class="inputCriar" name="mesesDeReconducao" ngModel required
              #mesesDeReconducao="ngModel"
              pTooltip="quantidade de meses que o órgão pode funcionar após sair da vigência" tooltipPosition="bottom">
            </p-spinner>
            <p-message severity="error" text="Campo Obrigatório"
              *ngIf="mesesDeReconducao.invalid && mesesDeReconducao.touched"></p-message>
          </div>
          <div class="p-col-3 div">
            <label>Qtd. Docentes:</label>
            <br>
            <p-spinner class="inputCriar" size="2" [min]=0 name="qtdDocentes" ngModel required #qtdDocentes="ngModel">
            </p-spinner>
            <p-message severity="error" text="Campo Obrigatório" *ngIf="qtdDocentes.invalid && qtdDocentes.touched">
            </p-message>
          </div>
          <div class="p-col-3 div">
            <label>Qtd. Docentes externos:</label>
            <br>
            <p-spinner class="inputCriar" size="2" [min]=0 name="qtdDocentesExternos" ngModel required
              #qtdDocentesExternos="ngModel"></p-spinner>
            <p-message severity="error" text="Campo Obrigatório"
              *ngIf="qtdDocentesExternos.invalid && qtdDocentesExternos.touched"></p-message>
          </div>

          <div class="p-col-3 div">
            <label>Regulamento:</label>
            <br>
            <input type="text" pInputText class="inputCriar" name="campoRegulamento" ngModel required
              #campoRegulamento="ngModel" />
            <p-message severity="error" text="Campo Obrigatório"
              *ngIf="campoRegulamento.invalid && campoRegulamento.touched"></p-message>
            <br>
            <p-fileUpload class="btn-primary" auto="true" mode="basic" name="demo[]" chooseLabel="Upload"
              [url]="apiImageLocation" accept="image/*" maxFileSize="2000000" (onUpload)="onUploadImageSuccess($event)"
              (onError)="onUploadImageError($event)">
            </p-fileUpload>

          </div>
          <div class="p-col-11">
            <p-button type="button" label="vincular presidente" id="botaoVincularPresidente" (click)="showDialog(true)"
              class="buttonSalvar">
            </p-button>
          </div>
          <div class="p-col-1 p-justify-end">
            <p-button type="submit" class="buttonSalvar" label="salvar" id="botaoSalvar"
              [disabled]="colegiadoCriar.invalid">
            </p-button>
          </div>
        </div>
      </p-card>
    </div>
  </form>



  <p-dialog header="Vincular Presidente" class="dialogo" [(visible)]="display" [transitionOptions]="'0ms'" [modal]="true">
    <form #vincularPresidente="ngForm">
      <div class="p-col-12 p-sm-12">
        <label> Nome:</label>
        <br>
        <input id="float-nome" type="text" size="21" required pInputText ngModel #nome="ngModel" name="nome"
          [(ngModel)]=membro.nome>
        <p-message severity="error" text="Campo Obrigatório" *ngIf="nome.invalid && nome.touched"></p-message>
        <label> Matricula:</label>
        <br>
        <input id="float-matricula" type="number" size="21" required pInputText ngModel #matricula="ngModel" name="matricula"
          [(ngModel)]=membro.matricula>
        <p-message severity="error" text="Campo Obrigatório" *ngIf="matricula.invalid && matricula.touched"></p-message>
        <label> Email acadêmico:</label>
        <br>
        <input id="float-email" type="text" size="21" required pInputText ngModel #email="ngModel" name="email"
          [(ngModel)]=membro.email>
        <p-message severity="error" text="Campo Obrigatório" *ngIf="email.invalid && email.touched"></p-message>
        <br>
        <label> Senha:</label>
        <br>
        <input id="float-senha" pPassword type="password" size="21" required ngModel #senha="ngModel" name="senha"
          [(ngModel)]=membro.senha>
        <p-message severity="error" text="Campo Obrigatório" *ngIf="senha.invalid && senha.touched"></p-message>

        <p-button type="button" class="btn-dialogo" label="associar" [disabled]="vincularPresidente.invalid"
          (click)="vincularPresidenteAoOrgao(vincularPresidente)">
        </p-button>
      </div>
    </form>
  </p-dialog>
</div>
