<div class="ui-g-11" class="card">
  <p-toolbar>
    <div class="ui-g-8">
      <label class="tituloPagina">Informações <br> do {{orgao.tipo}} Atual:</label>
    </div>
    <div class="ui-g-2" style="margin-top: 20px">
      <label style="font-weight: bold;">Portaria:</label>
      <br>
      <label>{{orgao.portaria}}</label>
    </div>
    <div class="ui-g-2" style="margin-top: 20px">
      <label style="font-weight: bold;">Mandato:</label>
      <br>
      <label>{{orgao.mandato}}</label>
    </div>
  </p-toolbar>
</div>
<div class="ui-g-11" class="card">
  <p-toolbar>
    <div class="ui-g-6"><label class="tituloPagina">Membros</label></div>
    <div class="ui-g-6">
      <div class="ui-g-4">
        <p-toolbar>
          <i class="pi pi-user cardMembro"></i>
          <br>
          <label class="labelMembro">Nome</label>
        </p-toolbar>
      </div>
      <div class="ui-g-4">
        <p-toolbar>
          <i class="pi pi-user cardMembro"></i>
          <br>
          <label class="labelMembro">Nome</label>
        </p-toolbar>
      </div>
      <div class="ui-g-4">
        <p-toolbar>
          <i class="pi pi-user cardMembro"></i>
          <br>
          <label class="labelMembro">Nome</label>
        </p-toolbar>
      </div>
      <div class="ui-g-4">
        <p-toolbar>
          <i class="pi pi-user cardMembro"></i>
          <br>
          <label class="labelMembro">Nome</label>
        </p-toolbar>
      </div>
      <div class="ui-g-4">
        <p-toolbar>
          <i class="pi pi-user cardMembro"></i>
          <br>
          <label class="labelMembro">Nome</label>
        </p-toolbar>
      </div>
      <div class="ui-g-4">
        <p-toolbar>
          <i class="pi pi-user cardMembro"></i>
          <br>
          <label class="labelMembro">Nome</label>
        </p-toolbar>
      </div>
    </div>
  </p-toolbar>
</div>
<div class="ui-g-6" class="cardMenu">
  <p-toolbar>
    <p-button styleClass="ui-button-secondary" label="Atas" (onClick)="save()"></p-button>
    <p-button styleClass="ui-button-secondary" label="Reuniões" (onClick)="save()"></p-button>
    <p-button styleClass="ui-button-secondary" label="Petições" (onClick)="save()"></p-button>
    <p-button styleClass="ui-button-secondary" label="Atuação" (onClick)="save()"></p-button>
    <p-button styleClass="ui-button-secondary" label="Atividades" (onClick)="save()"></p-button>
    <p-splitButton styleClass="ui-button-secondary" label="Outros" (onClick)="save()" [model]="items"></p-splitButton>
  </p-toolbar>
</div>
