<p-card [style]="{position: 'relative', top: '00px', left: '500px'}">
  <!-- <img
    src="https://lh6.googleusercontent.com/7z8qsuiXB_X17vmED4zjiU-q_CO7HoAc5DdwuSQNYCc0KyU_UL0BKdGiaJ_Pj6k1fHHNNQN0WCFdPV-HuO781yErvG5yAeATifF1DXQ=s200"
    style="width:300px">
</p-card>
<p-card [style]="{width: '560px',height: '210px', background: '#BEBEBE',
  position: 'relative', top: '-100px', left: '400px'}" [hidden]="exibindoLogin">
  <div class="card">
    <form>
      <div class="ui-g-8">
        <label class="label-login">Matrícula:</label>
        <input pInputText type="text" class="input-login" ngModel name="email" [(ngModel)]="email">
        <div><br>
          <br></div>
        <label class="label-login">Senha:</label>
        <input pPassword type="password" class="input-password" ngModel name="senha" [(ngModel)]="senha">>
      </div>
    </form>
    <div class="ui-g-4 ui-fluid">
      <button pButton label="Entrar" style="height: 100px; width: 150px; top: 40px; left: -15px" (click)="login()"></button>
    </div>
  </div> -->
</p-card>
