<div class="ui-fluid">
  <div class="p-grid p-justify-center">
    <div class="p-col-4 div">
      <button pButton class="button ui-button-rounded" label='Voltar' [routerLink]="['/']"></button>
    </div>
    <div class="p-col-3 div">
      <a href="javascript:;">
        <img src='/assets/sysmeeting-logo.png'>
      </a>
    </div>
    <div class="p-col-3">
    </div>
    <div class="p-col-4 div">
      <p-card>
        <div>
          <h2 class="text-center">Entrar</h2>
        </div>
        <div class="p-col-12">
          <label>Login:</label>
          <input pInputText type="text" ngModel name="email" [(ngModel)]="email">
        </div>
        <div class="p-col-12">
          <label>Senha:</label>
          <input pPassword type="password" ngModel name="senha" [(ngModel)]="senha" [feedback]='false'>
        </div>
        <div class="p-col-12">
          <button pButton label="Entrar" (click)="login(); senha = '';"></button>
        </div>
      </p-card>
    </div>
  </div>
</div>
