<!-- <app-template></app-template> -->
<!-- <app-login></app-login> -->
<!-- <app-cadastro-colegiado-adm></app-cadastro-colegiado-adm> -->
<app-cadastro-colegiado-pre></app-cadastro-colegiado-pre>
<!-- <app-cadastro-nde-pre></app-cadastro-nde-pre> -->
<!-- <app-casdastro-nde-adm></app-cadastro-nde-adm> -->

<!-- <app-composicao></app-composicao> -->
<!-- <app-composicoes-anteriores></app-composicoes-anteriores> -->
<!-- <app-composicao-nde></app-composicao-nde> -->
<!-- <app-form-orgao></app-form-orgao> -->
<!-- <app-menu></app-menu> -->

<!-- <app-composicao-nde></app-composicao-nde> -->
<!-- <app-crud-campus-curso></app-crud-campus-curso> -->
