.titulo{
   margin-left: 22px;
   margin-top: 20px;
  /* height: 20px; */
  color: #00BFFF;
  font-size: 30px;


}
.conf{
  height: 20px
}
.label-inst{
  position: relative;
  margin-left: 25px;
  left: -2px;
  margin-top: -40px;
 }
 .label-cnpj{
  position: relative;
  margin-top: -40px;
  margin-left: 150px;
 }
 .label-campus{
  position: relative;
  margin-left:250px;
  margin-top: -40px;
  left: -2px;
 }
 .menu{
  margin-left: 25px;
  margin-right: 100px;
 }
.navbar{
  padding: 10px 0;
  position: fixed;
  margin-top: 0px;
  margin-left: 20px;
  font-size: 18px;
}
.input-inst{
  position: relative;
  margin-top:5px;
  margin-left: 23px;
}
.input-cnpj{
  position: relative;
  left:-5px;
  margin-left: 325px;
  margin-top:-35px;
}
.input-campus{
  position: relative;
  left:280px;
  margin-left: 325px;
  margin-top:-33px;
}
.btn-salvarCC{
  position: relative;
  margin-left: 1180px;
  margin-top:10px;
  top:-72px;

}
.btn-addCurso{
  margin-left: 23px;

}

