<app-menu [breadcrumb]=breadcrumb></app-menu>
<div class="ui-fluid">
  <p-card>
    <form #ndeCriarAdmin="ngForm" (ngSubmit)="adicionarNde(ndeCriarAdmin)">
      <div class="p-grid">
        <div class="p-col-8">
          <h1 class="tituloPagina" id="tituloPagina">Cadastro de NDE</h1>
        </div>
        <div class="p-col-2">
          <p-button label="salvar" class="tituloPagina" type="submit" id="botaoSalvar"></p-button>
        </div>
      </div>
      <br>
      <div class="p-grid">
        <div class="p-col-3  div">
          <label>Início da vigência:</label>
          <p-calendar dateFormat="dd/mm/yy" [locale]="pt" [showIcon]="true" name="inicioDeVigencia" ngModel required
            #inicioDeVigencia="ngModel"></p-calendar>
        </div>
        <div class="p-col-3 div">
          <label>Meses da vigência:</label>
          <p-inputMask mask="99" name="mesesDaVigencia" ngModel required #mesesDaVigencia="ngModel"></p-inputMask>
        </div>
        <div class="p-col-3 div">
          <label>Qtd. Docentes:</label>
          <br>
          <p-spinner size="2" [min]=0 name="qtdDocentes" ngModel required #qtdDocentes="ngModel"></p-spinner>
        </div>
        <div class="p-col-3 div">
          <label>Portaria:</label>
          <input type="text" pInputText name="portaria" ngModel required #portaria="ngModel" />
        </div>
        <div class="p-col-3 div">
          <label>Meses de recondução:</label>
          <br>
          <p-inputMask mask="99" class="inputCriar" name="mesesDaVigencia" ngModel required #mesesDaVigencia="ngModel"
            pTooltip="quantidade de meses que o órgão pode funcionar após sair da vigência" tooltipPosition="bottom">
          </p-inputMask>
        </div>
        <div class="p-col-3 div">
          <label>Regulamento:</label>
          <br>
          <input type="text" pInputText name="regulamento" ngModel required #regulamento="ngModel" />
          <br>
          <p-fileUpload class="btn-primary" auto="true" mode="basic" name="demo[]" chooseLabel="Upload"
            [url]="apiImageLocation" accept="image/*" maxFileSize="2000000" (onUpload)="onUploadImageSuccess($event)"
            (onError)="onUploadImageError($event)">
          </p-fileUpload>
        </div>
      </div>
      <div class="p-col-12">
        <p-button label="vincular presidente" id="botaoVincularPresidente" (click)="showDialog()" class="btnvincular">
        </p-button>
      </div>
    </form>
  </p-card>


  <p-dialog header="Vincular Presidente" [(visible)]="display" [transitionOptions]="'0ms'">

    <form #vincularPresidente="ngForm">
      <p-message severity="error" text="Preencha todos os campos corretamente"
        *ngIf="vincularPresidente.invalid && vincularPresidente.touched;"></p-message>

      <label> Email acadêmico:</label>
      <br>
      <input id="float-input" type="text" size="21" required pInputText ngModel #email="ngModel" name="email"
        [(ngModel)]=conta.email>

      <label> Senha:</label>
      <br>
      <input id="float-input" type="text" size="21" required pInputText ngModel #senha="ngModel" name="senha"
        [(ngModel)]=conta.senha>

      <p-button type="submit" class="btn-dialogo" (click)="showDialog()" (click)="vincularPresidenteAoOrgao()"
        label="associar" [disabled]="!vincularPresidente.valid"></p-button>

    </form>
  </p-dialog>
</div>
