.button{
  margin: 5px;
}
.div{
  margin-left: 35px;
  margin-right: 35px;
}

.divButton{
  margin-left: 15px;
}
.ui-card{
  height: 300px;
}

.paginator{
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 15px;
}

