
.div{
  margin-left: 35px;
  margin-right: 35px;
}

.divButton{
  margin-left: 15px;
}
.ui-card{
  height: 300px;
}
.titulo{
 color: #4fabf1;
}
.paginator{
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 15px;
}
.btn-pesquisar{
  margin-top:20px;
  margin-left: 25px;
}
.btn-add-curso{
  margin-top:25px;
}

