<app-menu [breadcrumb]=breadcrumb></app-menu>
<div class="ui-fluid">
  <p-card class="p-col-12">
    <form #filtrarCursos="ngForm">
      <h1 class="titulo"> Página Principal</h1>
      <div class="p-grid">
        <!-- <div class="p-col-12"> -->
        <div class="p-col-3 ">
          <label> Nome do Curso:</label>
          <input type="text" pInputText [(ngModel)]=filtro.nome ngModel name="nome" />
        </div>
        <div class="p-col-3">
          <label> Formações:</label>
          <p-dropdown [options]="formacoes" [(ngModel)]=filtro.formacao ngModel name="formacao"></p-dropdown>
        </div>
        <div class="p-col-3">
          <p-button label="Pesquisar" class="btn-pesquisar" (click)="pesquisar()"></p-button>
        </div>
        <br>
        <div class="p-col-12" *ngIf="auth.temPermissao('ADMINISTRADOR')">
          <p-button label="Criar Campus e Curso" class="btn-add-curso" [routerLink]="['/cadastrar']"></p-button>
        </div>
      </div>
    </form>
  </p-card>
  <div class="paginator" *ngIf="!cursos">
    <p-message severity="info" text="Nenhum curso cadastrado no sistema"></p-message>
  </div>
  <div class="paginator" *ngIf="cursos">
    <p-paginator [rows]="12" [totalRecords]="totalRegistros" (onPageChange)="aoMudarPagina($event)">
    </p-paginator>
  </div>
  <div class="p-grid div">
    <div class="p-col-3" *ngFor="let curso of cursos">
      <p-card>
        <div class="p-grid">
          <div class="p-col-12">
            <label class="label-curso">Curso: {{curso.nome}}</label>
          </div>
          <div class="p-col-12">
            <label class="label-curso">Instituição: {{curso.campus.nome}} </label>
          </div>
          <div class="p-col-12">
            <label class="label-curso">Campus: {{curso.campus.cidade}}</label>
          </div>

          <div class="p-col-12">
            <label>Formação: {{curso.formacao}}</label>
          </div>
          <div class="p-col-5" *ngIf='botaoColegiado(curso)'>
            <p-button label="Colegiado" (click)="orgaoColegiado(curso)"></p-button>
          </div>
          <div class="p-col-1" *ngIf='botaoNde(curso)'>
            <p-button label="NDE" (click)="orgaoNde(curso)"></p-button>
          </div>
          <div class="p-col-2">
            <i class="pi pi-info-circle" style="margin-left:50px;margin-top:15;font-size: 1.5em"
              (click)="op.show($event, actualTarget)"></i>
            <!-- <label (click)="exibindoLogin=!exibindoLogin" style="font-size: 1.1em;float: right;">acessar</label> -->
          </div>
        </div>
        <p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true">
          <div class="p-col-12">
            <label>Turno: {{curso.turno}}</label>
          </div>
          <div class="p-col-12">
            <label>Modalidade: {{curso.modalidade}}</label>
          </div>

        </p-overlayPanel>

      </p-card>
    </div>
  </div>
</div>
