.btn-addItem{
  background-color: #007ad9;
  margin-top: 25px;
}
.btn-searchItem{
  background-color: #007ad9;
  margin-left: 200px;
  height: 10px;
}
.comboboxStatus{
  margin-left: 80px;
}
.titulo{
  color: #4fabf1;
}
.label-pac{
  margin-left: 0px;
}
.label-status{
  margin-left: 150px;
}
.text-pac{
   margin-left: 0px;
}
.label-assunto{
  margin-left: 25px;
  margin-top:25px;
}
.label-descr{
  margin-left: 25px;
  margin-top:25px;
  width: 231px;
  border-block-width: 231px;
}
.textarea{
  margin-left: 25px;
  width: 150px;
  margin-block-end: 25px;
  position: relative;
}
.textassun{
  margin-left: 25px;
}
.dialogItem{
  width: 100px;
  height: 100px;
}
.formItem{
  width: 300px;
  height: 200px;
}
.btn-Item{
  position: relative;
  margin-left:25px;
  margin-right: 25px;
}
.btn-Cancel{
  margin-left:25px;
}
