<app-cadastro-nde></app-cadastro-nde>
<div class="ui-g-12" style="margin-left: 25px; margin-bottom: 10px">
  <p-button label="adicionar membro" id="botaoAdicionarMembro" class="buttonSalvar"></p-button>
</div>
<div class="ui-g-11" style="margin-left: 25px;">
  <p-table [value]="membros">
    <ng-template pTemplate="header">
      <tr>
        <th class="ui-g-4" style="text-align:left">Nome</th>
        <th class="ui-g-4" style="text-align:left">Email</th>
        <th class="ui-g-2" style="text-align:left">Tipo</th>
        <th class="ui-g-2" style="text-align:left">Ação</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-membro>
      <tr>
        <td>{{membro.nome}}</td>
        <td>{{membro.email}}</td>
        <td>{{membro.tipo}}</td>
      </tr>
    </ng-template>
  </p-table>

</div>
