<app-menu [breadcrumb]=breadcrumb></app-menu>
<form #SearchReuniao="ngForm" (ngSubmit)="pesquisar()">
  <p-card class="p-col-12 p-sm-12 card-g">
    <h1 class="titulo">Calendário de Reuniões</h1>
    <label class="label-ano"> Ano:</label>
    <p-dropdown class="combo-year" ariaFilterLabel=null defaultLabel="Selecione" [options]="anos" optionLabel="label"
      ngModel name="anos" [(ngModel)]=reuniaoFilter.ano ></p-dropdown>
    <label class="label-mes"> Mês:</label>
    <p-dropdown class="combo-mes" ariaFilterLabel=null defaultLabel="Selecione" [options]="meses" optionLabel="label"
      ngModel name="meses" [(ngModel)]=reuniaoFilter.mes ></p-dropdown>

    <p-button type="submit" class="btn-search" label="buscar" [disabled]="SearchReuniao.invalid"></p-button>

    <div class="p-col-12 div">
      <p-button type="button" class="btn-addreuniao" label="adicionar reunião"
        [routerLink]="['/reunioes/cadastro-reuniao', {'id': id,'origem':orgao}]"></p-button>
      <p-button type="button" class="btn-itens" label="ver itens" [routerLink]="['/reunioes/gerenciar-item']">
      </p-button>
    </div>
  </p-card>
  <p-card class="p-col-12 p-sm-12 card-g">
    <div class="p-col-12 p-sm-12 tb-reuniao">
      <p-table [columns]="cols" [value]="reunioes" [responsive]="true" class="table">
        <ng-template pTemplate="caption">
          Reuniões
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">{{col.header}}</th>
            <th style="text-align:center">Ação</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              <span class="ui-column-title">{{col.header}}</span>
              {{rowData[col.field]}}
            </td>
            <td>
              <p-button type="button" icon="ui-button-danger pi pi-pencil"
                [routerLink]="['/reunioes/cadastro-reuniao', {'id': rowData.id,'origem':'reuniao'}]"></p-button>
              <!-- <p-button icon="ui-button-danger pi pi-trash" (click)="cancelar(reuniao)"></p-button>
              <p-button icon="ui-button-danger pi pi-angle-right" (click)="reagendar(reuniao)"></p-button>
              <p-button icon="ui-button-danger pi pi-file-o" (click)="verAta(reuniao)"></p-button>
              <p-button icon="ui-button-danger pi pi-pencil" (click)="verJustificativas(reuniao)"></p-button> -->
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-card>
</form>
