<app-menu [breadcrumb]=breadcrumb></app-menu>
<form #SearchReuniao="ngForm" (ngSubmit)="pesquisar()">
  <p-card class="p-col-12 p-sm-12 card-g">
    <h1 class="titulo">Calendário de Reuniões</h1>
    <label class="label-ano"> Ano:</label>
    <p-dropdown class="combo-year" ariaFilterLabel=null defaultLabel="Selecione" [options]="anos" optionLabel="label"
      ngModel name="anos" [(ngModel)]=reuniaoFilter.ano></p-dropdown>
    <label class="label-mes"> Mês:</label>
    <p-dropdown class="combo-mes" ariaFilterLabel=null defaultLabel="Selecione" [options]="meses" optionLabel="label"
      ngModel name="meses" [(ngModel)]=reuniaoFilter.mes></p-dropdown>

    <p-button type="submit" class="btn-search" label="buscar" ></p-button>

    <div class="p-col-12 div">
      <p-button type="button" class="btn-addreuniao" label="adicionar reunião"
        [routerLink]="['/reunioes/cadastro-reuniao', {'id': id,'origem':orgao}]"></p-button>
      <p-button type="button" class="btn-itens" label="ver itens" [routerLink]="['/reunioes/gerenciar-item', {'id': id,'origem':orgao}]">
      </p-button>
    </div>
  </p-card>
  <p-card class="p-col-12 p-sm-12 card-g">
    <div class="p-col-12 p-sm-12 tb-reuniao">
      <p-table [columns]="cols" [value]="reunioes" [responsive]="true" class="table">
        <ng-template pTemplate="caption">
          Reuniões
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">{{col.header}}</th>
            <th style="text-align:center">Ação</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              <span class="ui-column-title">{{col.header}}</span>
              {{rowData[col.field]}}
            </td>
            <td>
              <p-button type="button" icon="ui-button-danger pi pi-pencil"
                [routerLink]="['/reunioes/cadastro-reuniao', {'id': rowData.id,'origem':'reuniao'}]"></p-button>
              <p-button type="button" icon="ui-button-danger pi pi-bars" label="ata"
                [routerLink]="['/atas/atas', {'id': rowData.id, 'idOrgao': id}]">
              </p-button>
              <!-- <p-button type="button" icon="ui-button-danger pi pi-angle-right" label="reagendar"
                (click)="reagendar(rowData, false)"> -->
              <!-- </p-button> -->
              <p-button type="button" icon="ui-button-danger pi pi-angle-right" label="cancelar"
                (click)="confirmarExclusao(rowData)">
              </p-button>
              <p-button type="button" icon="pi pi-info" class="btn-pauta" (click)="mostrarPauta(rowData.id)">
              </p-button>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-card>
  <div class="p-col-5">
    <p-dialog [modal]="true" header="Informações da Reunião" [responsive]="true" [(visible)]="display">
      <ng-template [ngIf]="reuniao!=undefined">
        <label class="label-hrin"> Horário de início: </label>
        <label> {{reuniao.horarioInicio}}</label>
        <label class="label-hrin"> Horário de término: </label>
        <label> {{reuniao.horarioFinal}} </label>
        <div class="p-col-6 divdialog">
          <p-table [value]="reuniao.itensDePauta" [scrollable]="true" scrollHeight="150px" [responsive]="true"
            emptyMessage="Nenhum registro cadastrado">
            <ng-template pTemplate="caption">
              Itens de Pauta
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Assunto</th>
                <th>Descrição</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{item.assunto}}</td>
                <td>{{item.descricao}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </ng-template>
      <br>
    </p-dialog>
  </div>
  <div class="p-col-5">
    <p-dialog [style]="{width: '400px', height: '500px'}" [modal]="true" header="Reagendar Reunião" [responsive]="true"
      [(visible)]="displayReagendar">
      <p-calendar ngModel name="data" required [(ngModel)]=data [locale]="pt" dateFormat="dd/mm/yy" [showIcon]="true"
        #dataReuniao="ngModel" [inline]="true"></p-calendar>
      <br>
      <p-button type='button' icon="ui-button-danger pi pi-angle-right" label="reagendar"
        (click)="reagendar(null,true)">
      </p-button>
    </p-dialog>
  </div>
  <div class="p-col-5">
    <p-dialog [modal]="true" header="Cancelar Reunião" [responsive]="true" [(visible)]="displayCancelar">

    </p-dialog>
  </div>
</form>
