<app-composicao [orgao]=orgao tipo='NDE'></app-composicao>
<div class="p-col-6" class="cardMenu">
  <p-toolbar>
    <p-button styleClass="ui-button-secondary" label="Atas"></p-button>
    <p-button styleClass="ui-button-secondary" label="Reuniões" ></p-button>
    <p-button styleClass="ui-button-secondary" label="Petições"></p-button>
    <p-button styleClass="ui-button-secondary" label="Atuação"></p-button>
    <p-button styleClass="ui-button-secondary" label="Atividades"></p-button>
    <!-- <p-splitButton label="Outros" [model]="items"></p-splitButton> -->
  </p-toolbar>
</div>
