<app-menu [breadcrumb]=breadcrumb></app-menu>
<div class="ui-fluid">
  <p-card>
    <form #ndeCriarAdmin="ngForm" (ngSubmit)="adicionarNde(ndeCriarAdmin)">
      <div class="p-grid">
        <div class="p-col-8">
          <h1 class="tituloPagina" id="tituloPagina">Cadastro de NDE</h1>
        </div>
        <div class="p-col-4">
          <p-button label="salvar" type="submit" class="tituloPagina" id="botaoSalvar"></p-button>
        </div>
      </div>
      <br>
      <div class="p-grid">
        <div class="form-group p-col-1 p-sm-11 div">
          <label class="form-control-label">Início da vigência:</label>
          <p-calendar class="form-control inputCriar" dateFormat="dd/mm/yy" [locale]="pt" [showIcon]="true"
            name="inicioDeVigencia" ngModel required #inicioDeVigencia="ngModel"></p-calendar>
        </div>
        <div class="form-group p-col-1 p-sm-11 div ">
          <label class="form-control-label">Meses da vigência:</label>
          <p-inputMask mask="99" class="form-control inputCriar" name="mesesDaVigencia" ngModel required
            #mesesDaVigencia="ngModel"></p-inputMask>
        </div>
        <div class="form-group p-col-1 p-sm-11 div div-lateral">
          <label class="form-control-label">Qtd. Docentes:</label>
          <br>
          <p-spinner class="form-control inputCriar" size="2" [min]=0 name="qtdDocentes" ngModel required
            #qtdDocentes="ngModel"></p-spinner>
        </div>
        <div class="form-group p-col-1 p-sm-11 div">
          <label class="form-control-label">Portaria:</label>
          <input type="text" pInputText class="form-control inputCriar" name="portaria" ngModel required
            #portaria="ngModel" />
        </div>
        <div class="form-group p-col-1 p-sm-11 div">
          <label class="form-control-label">Meses de recondução:</label>
          <br>
          <input type="text" pTooltip="quantidade de meses que o órgão pode funcionar após sair da vigência" pInputText class="form-control inputCriar" name="mesesDeReconducao" ngModel required
            #mesesDeReconducao="ngModel" />
        </div>
        <div class="form-group p-col-1 p-sm-11 div div-lateral">
          <label class="form-control-label">Regulamento:</label>
          <br>
          <input type="text" pInputText class="form-control inputCriar" name="regulamento" ngModel required
            #regulamento="ngModel" />
          <br>
          <p-fileUpload class="btn-primary" auto="true" mode="basic" name="demo[]" chooseLabel="Upload"
            [url]="apiImageLocation" accept="image/*" maxFileSize="2000000" (onUpload)="onUploadImageSuccess($event)"
            (onError)="onUploadImageError($event)">
          </p-fileUpload>
        </div>

      </div>


      <div class="p-col-12">
        <p-button class="btnAddMembro" label="adicionar membro" id="botaoAdicionarMembro" (click)="showDialog()">
        </p-button>
      </div>
    </form>
  </p-card>
  <br>
  <p-card class="cardTable">
    <div class="p-grid">
      <div class="p-col-11" style="margin-left: 25px;">
        <p-table [value]="membros" emptyMessage="Nenhum membro cadastrado">
            <ng-template pTemplate="caption">
                Membros
              </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="text-align:left">Email</th>
              <th style="text-align:left">Tipo</th>
              <th style="text-align:left">Ação</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-membro>
            <tr>
              <td>{{membro.contaAcesso.email}}</td>
              <td>{{membro.tipo.nome}}</td>
              <td><button type="button" class="btn-addCurso" pButton icon="pi pi-times" label="remover"
                  (click)="excluirMembro(membro)"></button></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
  <p-dialog header="Associar Membro" [(visible)]="display" [transitionOptions]="'0ms'"
    [style]="{width: '300px', height: '300px'}">
    <form #vincularMembroColegiado="ngForm" (ngSubmit)="associar(vincularMembroColegiado)">
      <br>
      <label style="margin-top: 100px"> E-mail Institucional:</label>
      <br>
      <input id="float-input" type="text" size="25" pInputText ngModel #email="ngModel" name="email">
      <br>
      <br>
      <label style=" margin-top: 40px;"> Tipo de Membro:</label>
      <br>
      <p-dropdown [filter]="false" ariaFilterLabel=null defaultLabel="Selecione" [options]="tiposMembros" size="25"
        optionLabel="label" selectionLimit=1 ngModel #tipo="ngModel" name="tipo"></p-dropdown>
      <br>
      <br>
      <p-footer>
        <button type="button" class="btn-addCurso" pButton icon="pi pi-times" (click)="showDialog()"
          label="cancelar"></button>
        <button type="submit" class="btn-addCurso" pButton icon="pi pi-check" (click)="showDialog()" label="associar"
          style="margin-left: 20px;"></button>
      </p-footer>
      <br>
      <br>
      <br>
    </form>
  </p-dialog>
</div>
