.adicionarMembro{
  margin-left: 25px;
  margin-bottom: 10px;
}
.btn-addCurso{
  width: 100px;
}
.tituloPagina{
  color: #00BFFF;
  font-size: 30px;
  margin-left:25px;
  margin-top: 10px;
}
.div{
  margin-left: 35px;
  width: 250px;
}

.buttonSalvar{
  margin: 35px;
  margin-top:25px;
}

.inputCriar{
  width: 180px;
}
.btnAddMembro{
  margin-left: 25px;
}
.cardTable{
  margin-top:50px;
}
