.adicionarMembro{
  margin-left: 25px;
  margin-bottom: 10px;
}
.btn-addCurso{
  width: 100px;
}
.tituloPagina{
  color: #00BFFF;
  font-size: 30px;
  margin-left:25px;
  margin-top: 10px;
}
.div{
  width: 200px;
  margin: 30px 30px 1px 30px;
}

.div-lateral{
  margin-right: 800px;
}
.buttonSalvar{
  margin-left: 1150px;
}

.inputCriar{
  width: 180px;
}
.btnAddMembro{
  margin-left: 25px;
}
.cardTable{
  margin-top:50px;
}
@media only screen and (max-width: 1050px) {
  .inputCriar{
    width: 200px;
    margin-right: 15px;
    margin-left: 25x;
  }
  .div-lateral{
    margin-right: 30px;
  }
  .tituloPagina{
    color: #00BFFF;
    font-size: 25px;
    margin-left:25px;
    margin-top: 10px;
  }
  .div-para-smart{
    margin-left: 25px;
    margin: 10px;
  }
  .buttonSalvar{
    width: 360px;
    margin-left: 250px;
  }
  .adicionarMembro{
    width: 200px;
  }
 }
