<app-composicao [orgao]=orgao tipo='Colegiado'></app-composicao>
<div class="p-grid">
  <div class="p-col-3"></div>
  <div class="p-col-4" class="cardMenu">
    <p-toolbar>
      <p-button label="Atas"></p-button>
      <p-button label="Reuniões"
        [routerLink]="['/reunioes/calendario-reuniao-pre', {'id':orgao.id, 'orgao': 'colegiado'}]"
        *ngIf="auth.temPermissao('PRESIDENTE')"></p-button>
      <p-button label="Calendario" [routerLink]="['/reunioes/calendario-reuniao-membro']"
        *ngIf="!auth.temPermissao('PRESIDENTE')"></p-button>
      <!-- <p-button label="Petições"></p-button> -->
      <!-- <p-button label="Atuação"></p-button> -->
      <!-- <p-button label="Atividades"></p-button> -->
      <p-button label="Itens de Pauta"
        [routerLink]="['/reunioes/gerenciar-item', {'id':orgao.id, 'orgao': 'colegiado'}]"></p-button>
      <hr size=3>
      <!-- <p-button label="Atribuições"></p-button> -->
      <!-- <p-button label="Composições Anteriores" [routerLink]="['/orgaos/colegiado-anterior', this.orgao.curso.id]"> -->
      <!-- </p-button> -->
      <p-button label="Criar Colegiado" [routerLink]="['/orgaos/colegiado-adm-novo', this.orgao.curso.id]"
        *ngIf="!auth.temPermissao('ADMINISTRADOR')"></p-button>
      <p-button label="Editar Colegiado" [routerLink]="['/orgaos/colegiado-adm-novo', this.orgao.id]"
        *ngIf="!auth.temPermissao('ADMINISTRADOR')"></p-button>
      <p-button label="Criar Colegiado" [routerLink]="['/orgaos/colegiado-pre-novo', this.orgao.curso.id]"
        *ngIf="!auth.temPermissao('PRESIDENTE')"></p-button>
      <p-button label="Editar Colegiado" [routerLink]="['/orgaos/colegiado-pre-novo', this.orgao.id]"
        *ngIf="!auth.temPermissao('PRESIDENTE')"></p-button>
    </p-toolbar>
  </div>
</div>
