<div style="position: relative;top: 15px;
left: 1200px;color: #6495ED; z-index: 9998">
  <button pButton label="Login" class="pi pi-sign-in" (click)="exibindoLogin= !exibindoLogin"></button>
</div>

<!-- <p-card class="ui-g-11 cardOne">
<label class="label-campus"> Instituição de Ensino:</label>
<label class="label-formações"> Formações:</label>
<br>
<p-multiSelect class="combobox" [filter]="false" ariaFilterLabel= null defaultLabel="Selecione" [options]="inst"size="25" optionLabel="label" selectionLimit=1></p-multiSelect>
<p-multiSelect class="combobox" [filter]="false" ariaFilterLabel= null defaultLabel="Selecione" [options]="inst"size="25" optionLabel="label" selectionLimit=1></p-multiSelect>
<button pButton label="Pesquisar" class="btnEntrar"></button>
<button pButton label="cadastrar campus e cursos" [hidden]="isAdmin" class="btnEntrar"></button>


<p-breadcrumb [model]="items" ></p-breadcrumb>
</div>
<div style="float:right">
    <i class="pi pi-sign-in"  (click)="exibindoLogin=!exibindoLogin" style="font-size: 2em; margin-top: 18px" ></i>
    <a href="javascript:;" class="navbar-toggle"  >
        <img src='/assets/sysmeeting-logo.png' style="float:right;width: 170px; margin-right: 8px; margin-top: 10px" >
     </a> -->
