.titulo{
  margin-left: 22px;
  margin-top: 20px;
 /* height: 20px; */
 color: #4fabf1;
 font-size: 30px;
}
.logotipo{
  float:right;
  width: 170px;
  margin-right: 8px;
  margin-top: 10px
}
.conf{
 height: 20px;
}
.label-inst{
 position: relative;
 margin-left: 25px;
 left: -2px;
 margin-top: -40px;
}
.label-cnpj{
 margin-top: 0px;
 margin-left: 350px;
}
.label-campus{

 margin-left: 650px;
 margin-top: -20px;
 left: -2px;
}
.menu{
 margin-left: 0px;
 float: left;
}
.imagem{
  width:170px;
  margin-right: 50px;
}

.input-inst{
  position: relative;
  margin-top:5px;
 margin-left: 23px;
}
.input-cnpj{
  position: relative;
 left:-5px;
 margin-left: 325px;
 margin-top:-80px;
}
.input-campus{
  position: relative;
  left:280px;
 margin-left: 325px;
 margin-top:-107px;
}
.btn-salvarCC{
  background-color:#007ad9;
  margin-left: 1215px;
  margin-top:160px;
 top:-72px;

}
.btn-addCurso{
  margin-top:80px;
  margin-left: 25px;
  background-color:#007ad9;

}
.card-g{
  margin-top:250px;
  height: 400px;
  width: 1325px;

}
.dialogo{
  width: 100px;
  height: 100px;

}
.btn-dialogo{
  margin-left: 25px;

}

@media only screen and (max-width: 640px) {
  .titulo{
    font-size: 25px;
  }
  .conf{
    height: 20px;
  }
  .label-inst{
    position: relative;
    margin-left: 25px;
    left: -2px;
    margin-top: -40px;
  }
  .label-cnpj{
    position: relative;
    margin-left: 25px;
    left: -2px;
    margin-top: -40px;
  }
  .label-campus{
    margin-left: 25px;
    left: -2px;
    margin-top: -80px;
  }
  .menu{
    margin-left: 0px;
    float: left;
  }
  .imagem{
    width:170px;
    margin-right: 50px;
  }

  .input-inst{
    position: relative;
    margin-top:5px;
    margin-left: 23px;
  }
  .input-cnpj{
    widows: 100px;
    float:right;
    margin-top:5px;
    margin-left: 230px;
  }
  .input-campus{
    float:right;
    margin-top:5px;
    left: -2px;
    margin-left: -40px;
  }
  .btn-salvarCC{
    float:right;
    text-align: center;
    background-color:#007ad9;
  }

  .btn-addCurso{
    text-align: center;
    width: 260px;
    margin-top:50px;
    margin-right: 180px;
    background-color:#007ad9;

  }
  .btn-dialogo{
    float:right;
    text-align: center;
    width: 100px;
    margin-top:20px;
    margin-right: 180px;
    background-color:#007ad9;

  }
  .card-g{
    margin-top:50px;
    height: 100px;
    width: 1325px;

  }
  .dialogo{
    width: 50px;
    height: 100px;

  }
  .logotipo{
    position:center;
    width: 250px;
    margin-left: -40px;
  }
}
