<app-menu [breadcrumb]=breadcrumb></app-menu>
<div class="ui-fluid">

  <form #cadastroCampus="ngForm" (ngSubmit)="adicionar()">
    <p-card>
      <div class="p-grid ">
        <div class="p-col-8">
          <h1 class="titulo">Cadastramento de Campus e Cursos</h1>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-4 p-sm-12 div">
          <label> Instituição de Ensino:</label>
          <br>
          <p-dropdown [options]="listCnpj" id="instituicao" class="ui-float-label" required ngModel name="instituicao"
            #instituicaoText="ngModel" [(ngModel)]="instituicao" optionLabel="nome" editable="true"
            (onClick)="preencher()">
          </p-dropdown>
          <p-message severity="error" text="Campo Obrigatório"
            *ngIf="instituicaoText.invalid && instituicaoText.touched">
          </p-message>
        </div>
        <div class="p-col-4 p-sm-12 div">
          <label> CNPJ:</label>
          <br>
          <p-inputMask class="ui-float-label" type="text" required ngModel name="cnpj" #cnpjText="ngModel"
            mask="99.999.999/9999-99" [(ngModel)]="campus.cnpj">
          </p-inputMask>
          <p-message severity="error" text="Campo Obrigatório" *ngIf="cnpjText.invalid && cnpjText.touched"></p-message>
        </div>
        <div class="p-col-4 p-sm-12 div">
          <label> Campus:</label>
          <input class="ui-float-label" type="text" required pInputText ngModel name="campus" #campusText="ngModel"
            [(ngModel)]="campus.cidade">
          <p-message severity="error" text="Campo Obrigatório" *ngIf="campusText.invalid && campusText.touched"></p-message>
        </div>
      </div>
      <p-button class="btn-addCurso" label="adicionar curso" type="button" [disabled]="cadastroCampus.invalid"
        (click)="showDialog(cadastroCampus.valid)"></p-button>

    </p-card>
    <br>
    <p-card class="p-col-12 p-sm-12 card-table">
      <p-table [columns]="cols" [value]="campus.cursos" [responsive]="true" emptyMessage="Nenhum curso cadastrado">
        <ng-template pTemplate="caption">
          Lista de cursos
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">{{col.header}}</th>
            <th style="text-align:center">Ação</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              <span class="ui-column-title">{{col.header}}</span>
              {{rowData[col.field]}}
            </td>
            <td>
              <p-button type="button" icon="ui-button-danger pi pi-trash" (click)="confirmarExclusao(rowData)">
              </p-button>
          </tr>
        </ng-template>
      </p-table>
      <div class="p-grid p-justify-end">
        <p-button class="btn-salvarCC" type="submit" label="salvar" [disabled]="cadastroCampus.invalid">
        </p-button>
      </div>

    </p-card>
  </form>
  <p-dialog header="Cadastrar Curso"  [modal]="true" class="dialogo" [(visible)]="display" [transitionOptions]="'0ms'">
    <form #cadastroCurso="ngForm">
      <label> Curso Ofertado:</label>
      <br>
      <input id="float-input" type="text" size="21" required pInputText ngModel #nomeText="ngModel" name="nome"
        [(ngModel)]="nome">
      <p-message severity="error" text="Campo Obrigatório" *ngIf="nomeText.invalid && nomeText.touched"></p-message>
      <br>
      <label> Formação:</label>
      <br>
      <p-dropdown ariaFilterLabel=null defaultLabel="Selecione" [options]="formacoes" size="25" required
        optionLabel="label" ngModel #formacaoText="ngModel" name="formacao" [(ngModel)]="formacao"></p-dropdown>
      <p-message severity="error" text="Campo Obrigatório" *ngIf="formacaoText.invalid && formacaoText.touched"></p-message>
      <br>
      <label> Turno:</label>
      <br>
      <p-dropdown ariaFilterLabel=null defaultLabel="Selecione" [options]="turnos" size="25" required
        optionLabel="label" #turnoText="ngModel" ngModel name="turno" [(ngModel)]="turno"></p-dropdown>
      <p-message severity="error" text="Campo Obrigatório" *ngIf="turnoText.invalid && turnoText.touched"></p-message>
      <br>
      <label> Modalidade:</label>
      <br>
      <p-dropdown ariaFilterLabel=null defaultLabel="Selecione" [options]="modalidades" size="25" required
        optionLabel="label" #modalidadeText="ngModel" ngModel name="modalidade" [(ngModel)]="modalidade"></p-dropdown>
      <p-message severity="error" text="Campo Obrigatório" *ngIf="modalidadeText.invalid && modalidadeText.touched"></p-message>
      <br>
      <br>
      <p-footer>
      <button type="button" class="btn-dialogo" pButton icon="pi pi-times" (click)="showDialog(true)"
        label="cancelar"></button>
      <p-button type="button" class="btn-dialogo" [disabled]="cadastroCurso.invalid" icon="pi pi-check"
        (click)="adicionarCurso(cadastroCurso)" label="salvar">
      </p-button>
    </p-footer>
    </form>
  </p-dialog>
</div>
