<app-menu [breadcrumb]=breadcrumb></app-menu>
<div class="ui-fluid">
  <form #colegiadoCriar="ngForm"  (ngSubmit)="adicionarColegiado(colegiadoCriar)">
    <div class="p-grid">
      <p-card>
        <div class="p-grid">

          <div class="p-col-8">
            <!-- <h1 class="tituloPagina">{{editando ? 'Edição de' : 'Cadastro de'}} Colegiado</h1> -->
            <h1 class="tituloPagina" id="tituloPagina">{{titulo}} de Colegiado</h1>
          </div>

        </div>
        <div class="p-grid">
          <div class="p-col-3 div">
            <label>Início da vigência:</label>
            <p-calendar class="inputCriar" [locale]="pt" [showIcon]="true" name="inicioDeMandato" dateFormat="dd/mm/yy"
              ngModel required  [(ngModel)]="data"  #inicioDeMandato="ngModel" [disabled]="true"></p-calendar>
            <p-message severity="error" text="Campo Obrigatório"
              *ngIf="inicioDeMandato.invalid && inicioDeMandato.touched"></p-message>
          </div>

          <div class="p-col-3 div">
            <label>Meses da vigência:</label>
            <p-spinner class="inputCriar" name="mesesDaVigencia"  [(ngModel)]="orgao.vigenciaMandatoMeses"  ngModel required #mesesDaVigencia="ngModel"
              [disabled]="true"></p-spinner>
            <p-message severity="error" text="Campo Obrigatório"
              *ngIf="mesesDaVigencia.invalid && mesesDaVigencia.touched"></p-message>
          </div>
          <div class="p-col-3 div">
            <label>Qtd. Discentes:</label>
            <br>
            <p-spinner class="inputCriar" size="2" [min]=0 name="qtdDiscentes" ngModel [(ngModel)]="orgao.discenteQntdMax" [disabled]="true" required
              #qtdDiscentes="ngModel">
            </p-spinner>
            <p-message severity="error" text="Campo Obrigatório" *ngIf="qtdDiscentes.invalid && qtdDiscentes.touched">
            </p-message>
          </div>
          <div class="p-col-3 div">
            <label>Qtd. Téc.-Administrativos:</label>
            <p-spinner class="inputCriar" size="2" [min]=0 name="qtdTecAdministrativos" ngModel [(ngModel)]="orgao.tecAdmQntdMax" required
              #qtdTecAdministrativos="ngModel" [disabled]="true"></p-spinner>
            <p-message severity="error" text="Campo Obrigatório"
              *ngIf="qtdTecAdministrativos.invalid && qtdTecAdministrativos.touched"></p-message>
          </div>
          <div class="p-col-3 div">
            <label>Portaria:</label>
            <input type="text" pInputText name="portaria" ngModel [disabled]="true" required #portaria="ngModel" />
            <p-message severity="error" text="Campo Obrigatório" *ngIf="portaria.invalid && portaria.touched">
            </p-message>
          </div>
          <div class="p-col-3 div">
            <label>Meses de recondução:</label>
            <br>
            <p-spinner class="inputCriar" name="mesesDeReconducao" ngModel required #mesesDeReconducao="ngModel" [(ngModel)]="orgao.vigenciaReconducaoMeses"
              [disabled]="true" pTooltip="quantidade de meses que o órgão pode funcionar após sair da vigência"
              tooltipPosition="bottom">
            </p-spinner>
            <p-message severity="error" text="Campo Obrigatório"
              *ngIf="mesesDeReconducao.invalid && mesesDeReconducao.touched"></p-message>
          </div>
          <div class="p-col-3 div">
            <label>Qtd. Docentes:</label>
            <br>
            <p-spinner class="inputCriar" size="2" [min]=0 name="qtdDocentes" ngModel required #qtdDocentes="ngModel"
              [disabled]="true" [(ngModel)]="orgao.docenteQntdMax">
            </p-spinner>
            <p-message severity="error" text="Campo Obrigatório" *ngIf="qtdDocentes.invalid && qtdDocentes.touched">
            </p-message>
          </div>
          <div class="p-col-3 div">
            <label>Qtd. Docentes externos:</label>
            <br>
            <p-spinner class="inputCriar" size="2" [min]=0 name="qtdDocentesExternos" ngModel required
              #qtdDocentesExternos="ngModel" [disabled]="true" [(ngModel)]="orgao.docenteExternoQntdMax"></p-spinner>
            <p-message severity="error" text="Campo Obrigatório"
              *ngIf="qtdDocentesExternos.invalid && qtdDocentesExternos.touched"></p-message>
          </div>

          <!-- <div class="p-col-3 div">
            <label>Regulamento:</label>
            <br>
            <input type="text" pInputText class="inputCriar" name="campoRegulamento" ngModel required
              #campoRegulamento="ngModel" [disabled]="true" />
            <p-message severity="error" text="Campo Obrigatório"
              *ngIf="campoRegulamento.invalid && campoRegulamento.touched"></p-message>
            <br>
            <p-fileUpload class="btn-primary" auto="true" mode="basic" name="demo[]" chooseLabel="Upload"
              [url]="apiImageLocation" accept="image/*" maxFileSize="2000000" (onUpload)="onUploadImageSuccess($event)"
              (onError)="onUploadImageError($event)">
            </p-fileUpload>

          </div> -->
          <div class="p-col-11">
            <p-button type="button" class="buttonSalvar" label="adicionar membro" id="botaoAdicionarMembro"
              (click)="showDialog()">
            </p-button>
          </div>
          <div class="p-col-1 p-justify-end">
            <p-button type="submit" class="buttonSalvar" label="salvar" id="botaoSalvar"
              [disabled]="colegiadoCriar.invalid">
            </p-button>
          </div>

        </div>
      </p-card>
    </div>

  <div class="p-col cardtable ">
    <p-card>
      <p-table [value]="membros" emptyMessage="Nenhum membro cadastrado">
        <ng-template pTemplate="caption">
          Membros
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="text-align:left">Email</th>
            <th style="text-align:left">Tipo</th>
            <th style="text-align:left">Ação</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-membro>
          <tr>
            <td>{{membro.email}}</td>
            <td>{{membro.tipo}}</td>
            <td><button type="button" class="btn-addCurso" pButton icon="pi pi-times" label="remover"
                (click)="confirmarExclusao(membro)"></button></td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</form>
  <p-dialog header="Associar Membro" [(visible)]="display" [transitionOptions]="'0ms'"
    [style]="{width: '400px', height: '300px'}" [modal]="true">
    <form #vincularMembroColegiado="ngForm">
      <div class="p-col p-sm-12">
        <label> E-mail Institucional:</label>
        <br>
        <input type="text" pInputText ngModel #email="ngModel" name="email">
        <p-message severity="error" text="Campo Obrigatório" *ngIf="email.invalid && email.touched"></p-message>
        <br>
        <label> Senha:</label>
        <br>
        <input size="21" pInputText required type="password" ngModel #senha="ngModel" name="senha">
        <p-message severity="error" text="Campo Obrigatório" *ngIf="senha.invalid && senha.touched"></p-message>

        <label> Tipo de Membro:</label>
        <br>
        <p-dropdown [filter]="false" ariaFilterLabel=null defaultLabel="Selecione" required [options]="tiposMembros"
          size="25" optionLabel="label" selectionLimit=1 ngModel #tipo="ngModel" name="tipo"></p-dropdown>
        <p-message severity="error" text="Campo Obrigatório" *ngIf="tipo.invalid && tipo.touched"></p-message>
        <p-footer>
          <div class="ui-fluid">
            <div class="p-grid">
              <div class="p-col-6">

                <button type="button" class="btn-addmember" pButton icon="pi pi-times" (click)="showDialog()"
                  label="cancelar"></button>

              </div>
              <div class="p-col-6">
                <button type="button" class="btn-addmember" pButton icon="pi pi-check" label="associar"
                  [disabled]="vincularMembroColegiado.invalid" (click)="associar(vincularMembroColegiado)"></button>
              </div>
            </div>
          </div>
        </p-footer>
      </div>
    </form>
  </p-dialog>
</div>
