<form #colegiadoCriarAdmin="ngForm" (ngSubmit)="adicionarColegiado(colegiadoCriarAdmin)">
<div class="ui-g">
  <div class="ui-g-10 ui-sm-12">
    <h1 class="tituloPagina" id="tituloPagina">Cadastro de Colegiado</h1>
  </div>
  <div class="ui-g-2 ui-sm-2">
    <p-button label="salvar" type="submit" class="buttonSalvar" id="botaoSalvar" (click)="adicionarColegiado(colegiadoCriarAdmin)"></p-button>
  </div>
</div>
<br>
  <div class="form-group ui-g-2 ui-sm-12" style="margin-left: 25px"
    [class.has-danger]="campoInicioDeVigencia.invalid && campoInicioDeVigencia.touched">
    <label class="form-control-label">Início da vigência:</label>
    <p-calendar class="form-control inputCriar" dateFormat="dd/mm/yy" [showIcon]="true"
      name="campoInicioDeVigencia" ngModel required #campoInicioDeVigencia="ngModel"></p-calendar>
  </div>
  <div class="form-group ui-g-2 ui-sm-11 div-para-smart" [class.has-danger]="campoMesesDaVigencia.invalid && campoMesesDaVigencia.touched">
    <label class="form-control-label">Meses da vigência:</label>
    <p-inputMask mask="99" class="form-control inputCriar" name="campoMesesDaVigencia" ngModel
      required #campoMesesDaVigencia="ngModel"></p-inputMask>
  </div>
  <div class="form-group ui-g-3"></div>
  <div class="form-group ui-g-2 ui-sm-12 div-para-smart" [class.has-danger]="campoQtdDiscentes.invalid && campoQtdDiscentes.touched">
    <label class="form-control-label">Qtd. Discentes:</label>
    <br>
    <p-spinner class="form-control inputCriar" size="2" [min]=0 name="campoQtdDiscentes" ngModel
      required #campoQtdDiscentes="ngModel"></p-spinner>
  </div>
  <div class="form-group ui-g-2 ui-sm-8 div-para-smart"
    [class.has-danger]="campoQtdTecAdministrativos.invalid && campoQtdTecAdministrativos.touched">
    <label class="form-control-label">Qtd. Téc.-Administrativos:</label>
    <p-spinner class="form-control inputCriar" size="2" [min]=0 name="campoQtdTecAdministrativos"
      ngModel required #campoQtdTecAdministrativos="ngModel"></p-spinner>
  </div>
  <div class="form-group ui-g-2 ui-sm-6 div-para-smart" style="margin-left: 25px"
    [class.has-danger]="campoPortaria.invalid && campoPortaria.touched">
    <label class="form-control-label">Portaria:</label>
    <input type="text" pInputText class="form-control inputCriar" style="width: 150px;"
      name="campoPortaria" ngModel required #campoPortaria="ngModel" />
    <p-button icon="pi pi-upload"></p-button>
  </div>
  <div class="form-group ui-g-2 ui-sm-12 div-para-smart" [class.has-danger]="campoMesesDeReconducao.invalid && campoMesesDeReconducao.touched">
    <label class="form-control-label">Meses de recondução:</label>
    <br>
    <input type="text" pInputText class="form-control inputCriar" name="campoMesesDeReconducao"
      ngModel required #campoMesesDeReconducao="ngModel" />
  </div>
  <div class="form-group ui-g-3"></div>
  <div class="form-group ui-g-2 ui-sm-12 div-para-smart" [class.has-danger]="campoQtdDocentes.invalid && campoQtdDocentes.touched">
    <label class="form-control-label">Qtd. Docentes:</label>
    <br>
    <p-spinner class="form-control inputCriar" size="2" [min]=0 name="campoQtdDocentes" ngModel
      required #campoQtdDocentes="ngModel"></p-spinner>
  </div>
  <div class="form-group ui-g-2 ui-sm-12 div-para-smart"
    [class.has-danger]="campoQtdDocentesExternos.invalid && campoQtdDocentesExternos.touched">
    <label class="form-control-label">Qtd. Docentes externos:</label>
    <br>
    <p-spinner class="form-control inputCriar" size="2" [min]=0 name="campoQtdDocentesExternos"
      ngModel required #campoQtdDocentesExternos="ngModel"></p-spinner>
  </div>

  <div class="form-group ui-g-12 ui-sm-12 div-para-smart" style="margin-left: 25px"
    [class.has-danger]="campoRegulamento.invalid && campoRegulamento.touched">
    <label class="form-control-label">Regulamento:</label>
    <br>
    <input type="text" pInputText class="form-control inputCriar" style="width: 150px;"
      name="campoRegulamento" ngModel required #campoRegulamento="ngModel" />
    <p-button icon="pi pi-upload"></p-button>
    <br>
    <p-fileUpload class="btn-primary" auto="true" mode="basic" name="demo[]" chooseLabel="Upload"
      [url]="apiImageLocation" accept="image/*" maxFileSize="2000000"
      (onUpload)="onUploadImageSuccess($event)" (onError)="onUploadImageError($event)">
    </p-fileUpload>
  </div>
</form>
