<app-cadastro-colegiado></app-cadastro-colegiado>
<div class="ui-g-12" style="margin-left: 25px; margin-bottom: 10px">
  <p-button label="adicionar membro" id="botaoAdicionarMembro" (click)="showDialog()" class="buttonSalvar"></p-button>
</div>
<div class="ui-g-11" style="margin-left: 25px;">
  <p-table [value]="membros">
    <ng-template pTemplate="header">
      <tr>
        <th class="ui-g-4" style="text-align:left">Nome</th>
        <th class="ui-g-4" style="text-align:left">Email</th>
        <th class="ui-g-2" style="text-align:left">Tipo</th>
        <th class="ui-g-2" style="text-align:left">Ação</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-membro>
      <tr>
        <td>{{membro.nome}}</td>
        <td>{{membro.email}}</td>
        <td>{{membro.tipo}}</td>
        <td><button type="button" class="btn-addCurso" pButton icon="pi pi-times" label="remover"></button></td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog header="Associar Membro" [(visible)]="display" [transitionOptions]="'0ms'"
  [style]="{width: '400px', height: '300px'}">
  <form #vincularMembroColegiado="ngForm" (ngSubmit)="adicionarColegiado(vincularMembroColegiado)">
    <br>
    <label style="margin-top: 100px"> E-mail Institucional:</label>
    <br>
    <input id="float-input" type="text" size="25" pInputText>
    <br>
    <br>
    <label style=" margin-top: 40px;"> Tipo de Membro:</label>
    <br>
    <p-multiSelect [filter]="false" ariaFilterLabel=null defaultLabel="Selecione" [options]="tiposMembros" size="25"
      optionLabel="label" selectionLimit=1></p-multiSelect>
    <p-footer>
      <button type="button" class="btn-addCurso" pButton icon="pi pi-times" (click)="display=false"
        label="cancelar"></button>
      <button type="button" class="btn-addCurso" pButton icon="pi pi-check" (click)="display=false"
        label="associar"></button>
    </p-footer>
    <br>
    <br>
    <br>
  </form>
</p-dialog>
