<div class="ui-fluid">
  <form #colegiadoCriar="ngForm" (ngSubmit)="adicionarColegiado(colegiadoCriar)">
    <div class="p-grid">
      <h1 class="tituloPagina" id="tituloPagina">Cadastro de Colegiado</h1>
    </div>
    <br>
    <p-message severity="error" text="Preencha todos os campos corretamente"
      *ngIf="colegiadoCriar.invalid && colegiadoCriar.touched;"></p-message>
    <div class="p-grid">
      <div class="form-group has-danger p-col-1 p-sm-12 div-para-smart">
        <label class="form-control-label">Início da vigência:</label>
        <p-calendar class="form-control inputCriar" dateFormat="dd/mm/yy" [showIcon]="true" name="inicioDeVigencia"
          ngModel required #inicioDeVigencia="ngModel"></p-calendar>
      </div>

      <div class="form-group p-col-1 p-sm-11 div-para-smart div-lateral">
        <label class="form-control-label">Meses da vigência:</label>
        <p-inputMask mask="99" class="form-control inputCriar" name="mesesDaVigencia" ngModel required
          #mesesDaVigencia="ngModel"></p-inputMask>
      </div>
      <div class="form-group p-col-1 p-sm-11 div-para-smart">
        <label class="form-control-label">Qtd. Discentes:</label>
        <br>
        <p-spinner class="form-control inputCriar" size="2" [min]=0 name="qtdDiscentes" ngModel required
          #qtdDiscentes="ngModel"></p-spinner>
      </div>
      <div class="form-group p-col-1 p-sm-8 div-para-smart">
        <label class="form-control-label">Qtd. Téc.-Administrativos:</label>
        <p-spinner class="form-control inputCriar" size="2" [min]=0 name="qtdTecAdministrativos" ngModel required
          #qtdTecAdministrativos="ngModel"></p-spinner>
      </div>
      <div class="form-group p-col-1 p-sm-6 div-para-smart">
        <label class="form-control-label">Portaria:</label>
        <input type="text" pInputText class="form-control inputCriar"  name="portaria" ngModel
          required #portaria="ngModel" />
      </div>
      <div class="form-group p-col-1 p-sm-12 div-para-smart div-lateral">
        <label class="form-control-label">Meses de recondução:</label>
        <br>
        <input type="text" pInputText class="form-control inputCriar" name="mesesDeReconducao" ngModel required
          #mesesDeReconducao="ngModel" />
      </div>
      <div class="form-group p-col-1 p-sm-12 div-para-smart">
        <label class="form-control-label">Qtd. Docentes:</label>
        <br>
        <p-spinner class="form-control inputCriar" size="2" [min]=0 name="qtdDocentes" ngModel required
          #qtdDocentes="ngModel"></p-spinner>
      </div>
      <div class="form-group p-col-1 p-sm-12 div-para-smart">
        <label class="form-control-label">Qtd. Docentes externos:</label>
        <br>
        <p-spinner class="form-control inputCriar" size="2" [min]=0 name="qtdDocentesExternos" ngModel required
          #qtdDocentesExternos="ngModel"></p-spinner>
      </div>

      <div class="form-group has-danger p-col-12 p-sm-12 div-para-smart" style="margin-left: 25px">
        <label class="form-control-label">Regulamento:</label>
        <br>
        <input type="text" pInputText class="form-control inputCriar" name="campoRegulamento" ngModel required
          #campoRegulamento="ngModel" />
        <br>
        <p-fileUpload class="btn-primary" auto="true" mode="basic" name="demo[]" chooseLabel="Upload"
          [url]="apiImageLocation" accept="image/*" maxFileSize="2000000" (onUpload)="onUploadImageSuccess($event)"
          (onError)="onUploadImageError($event)">
        </p-fileUpload>
        <div class="p-col-2 buttonSalvar">
          <p-button label="salvar" type="submit" id="botaoSalvar" [routerLink]="['/']">
          </p-button>
        </div>
      </div>
    </div>
  </form>
</div>
