.tituloPagina{
  color: #00BFFF;
  font-size: 30px;
  margin-left:25px;
  margin-top: 10px;
}

.buttonSalvar{
  margin: 25px;
  margin-top:20px;
}

.inputCriar{
  width: 180px;
}
@media only screen and (max-width: 640px) {
  .inputCriar{
    width: 200px;
    margin-right: 15px;
    margin-left: 25x;
  }
  .tituloPagina{
    color: #00BFFF;
    font-size: 25px;
    margin-left:25px;
    margin-top: 10px;
  }
  .div-para-smart{
    margin-left: 25px;
  }
}
