<app-menu [breadcrumb]=breadcrumb></app-menu>
<form #SearchReuniao="ngForm">
  <p-card class="p-col-12 p-sm-12 card-g">
    <h1 class="titulo">Calendário de Reuniões</h1>
    <label class="label-ano"> Ano:</label>
    <p-dropdown class="combo-year" ariaFilterLabel=null [options]="anos" optionLabel="label" ngModel name="anos"
      [(ngModel)]=reuniaoFilter.anos></p-dropdown>
    <label class="label-mes"> Mês:</label>
    <p-dropdown class="combo-mes" ariaFilterLabel=null [options]="meses" optionLabel="label" ngModel name="meses"
      [(ngModel)]=reuniaoFilter.meses></p-dropdown>
    <label class="label-mes"> Órgão:</label>
    <p-dropdown class="combo-mes" ariaFilterLabel=null [options]="orgao" optionLabel="label" ngModel name="orgao"
      [(ngModel)]=reuniaoFilter.orgao></p-dropdown>
    <p-button class="btn-search" label="buscar" (click)="pesquisar()"></p-button>

    <div class="p-col-12 div">
      <p-button class="btn-itens" label="ver itens" [routerLink]="['/reunioes/gerenciar-item']"></p-button>
      <p-button class="btn-itens" label="sugerir item" (click)="showDialog()"></p-button>
    </div>
  </p-card>
  <p-card class="p-col-12 p-sm-12 card-g">
    <div class="p-col-12 p-sm-12 tb-reuniao">
      <p-table [columns]="cols" [value]="reunioes" [responsive]="true" class="table">
        <ng-template pTemplate="caption">
          Reuniões
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">{{col.header}}</th>
            <th style="text-align:center">Ação</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              <span class="ui-column-title">{{col.header}}</span>
              {{rowData[col.field]}}
            </td>
            <td>

              <p-button icon="pi pi-info" class="btn-pauta"(click)="mostrarPauta(rowData.id)"></p-button>
            <!-- <p-button icon="ui-button-danger pi pi-pencil" (click)="justificarFalta(reuniao)"></p-button> -->
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-card>


  <div class="p-col-5">
    <p-dialog  [modal]="true" header="Informações da Reunião" [responsive]="true" [(visible)]="display2">
      <ng-template [ngIf]="reuniao!=undefined">
        <label class="label-hrin"> Horário de início: </label>
        <label> {{reuniao.horarioInicio}}</label>
        <label class="label-hrin"> Horário de término: </label>
        <label> {{reuniao.horarioFinal}} </label>
        <div class="p-col-6 divdialog">
          <p-table [value]="reuniao.itensDePauta"   [scrollable]="true" scrollHeight="150px" [responsive]="true" emptyMessage="Nenhum registro cadastrado">
            <ng-template pTemplate="caption">
              Itens de Pauta
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Assunto</th>
                <th>Descrição</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{item.assunto}}</td>
                <td>{{item.descricao}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </ng-template>
      <br>
    </p-dialog>
  </div>
</form>
<p-dialog header="Cadastrar item" [(visible)]="display" class="dialogItem">
  <!-- <form class="formItem" #cadastroItem="ngForm"> -->
  <form class="formItem">
    <label class="label-assunto"> Assunto:</label>
    <input id="float-input" type="text" size="25" class="textassun" pInputText ngModel name="assunto"
      [(ngModel)]=item.assunto>
    <label class="label-descr">Descrição:</label>
    <br>
    <textarea pInputTextarea class="textarea" name="descricao" ngModel name="descricao"
      [(ngModel)]=item.descricao></textarea>
    <br>
    <p-button class="btn-Cancel" label="cancelar"></p-button>
    <p-button class="btn-Item" label="salvar" (click)="adicionar()"></p-button>
  </form>
</p-dialog>
