.titulo{
  color:#4fabf1;
  margin-left: 25px;
}
.combo-year{
  margin-left: 25px;
}
.combo-mes{
  margin-left: 25px;
}
.label-mes{
  margin-left: 25px;
}
.label-ano{
  margin-left: 25px;
}
.btn-search{
  margin-left: 25px;
}
.card-g{
  margin-top: 150px;
}
.btn-addreuniao{
  margin-left: 25px;
}
.btn-itens{
  margin-left: 25px;
}
.tb-reuniao{
  margin-top: 50px;
}
.card-g{
  margin-top: 10px;
}
.div{
  margin-top: 25px;
}
.label-assunto{
  margin-left: 25px;
  margin-top:25px;
}
.label-descr{
  margin-left: 25px;
  margin-top:25px;
  width: 231px;
  border-block-width: 231px;
}
.btn-Item{
  position: relative;
  margin-left:25px;
  margin-right: 25px;
}
.btn-Cancel{
  margin-left:25px;
}
.dialogItem{
  width: 50px;
  height: 100px;
}
.formItem{
  width: 300px;
  height: 200px;
}
.textarea{
  margin-left: 25px;
  width: 150px;
  margin-block-end: 25px;
  position: relative;
}
.textassun{
  margin-left: 25px;
}
.label-hrin{
  margin-left: 25px;
}
.card{
  size:200px;
}
.divdialog{
  width: 600px;
}
.btn-pauta{
  margin-left: 10px;
}
