.card{
  position: fixed;
  top: 60px;
  width: 350px;
  right: 15px;
  z-index: 9998;
}

.cardPerfil{
  position: fixed;
  top: 60px;
  width: 150px;
  right: 170px;
  z-index: 9998;
}
div.a {
  text-align: center;
}
