<div class="ui-fluid">
  <div class="p-grid">
    <div class="p-col-4">
      <p-menubar [model]="menu">
      </p-menubar>
    </div>
    <div class="p-col-5">
      <p-breadcrumb [model]="breadcrumb"></p-breadcrumb>
    </div>
    <div class="p-col-1">
      <div *ngIf='auth.jwtPayload === undefined'>
        <i class="pi pi-sign-in" (click)="showDialog()" style="font-size: 3em; float: right;"></i>
        <br>
        <br>
        <div class="p-col-12">
          <label style="float: right;">Entrar</label>
        </div>
      </div>
      <div *ngIf='auth.jwtPayload !== undefined'>
        <i class="pi pi-sign-out" (click)="showDialogPerfil()" style="font-size: 3em; float: right;"></i>
        <br>
        <br>
        <div class="p-col-12">
          <label style="float: right;">Sair</label>
        </div>
      </div>
    </div>
    <div class="p-col-2" style="float:right">
      <a href="javascript:;">
        <img src='/assets/sysmeeting-logo.png'>
      </a>
    </div>
  </div>

  <p-card class="card" [hidden]='!exibindoLogin'>
    <div class="a">
      <h2>Entrar</h2>
    </div>
    <div class="p-col-12">
      <label>Login:</label>
      <input pInputText type="text" ngModel name="email" [(ngModel)]="email">
    </div>
    <div class="p-col-12">
      <label>Senha:</label>
      <input pPassword type="password" ngModel name="senha" [(ngModel)]="senha">
    </div>
    <div class="p-col-12">
      <button pButton label="Entrar" (click)="login(); senha = '';"></button>
    </div>
  </p-card>

  <p-card class="cardPerfil" [hidden]='!exibindoPerfil'>
    <div class="a">
      <h5> {{ auth.jwtPayload?.user_name }}</h5>
    </div>
    <div class="p-col-12">
      <button pButton label="Sair" (click)="refresh(); senha = '';"></button>
    </div>
  </p-card>
</div>
