<app-menu [breadcrumb]=breadcrumb></app-menu>
<div class="ui-fluid">
  <div class="card">
    <p-card>
      <div class="p-grid">
        <div class="p-col-12">
          <label class="tituloPagina">Informações <br> do {{tipo}}:</label>
        </div>
        <div class="p-col-1 p-sm-11 div" style=" margin-top: 20px">
          <label style="font-weight: bold;">Portaria:</label>
          <br>
          <i i class="pi pi-file" style="font-size: 3em;"></i>
        </div>
        <div class="p-col p-sm-11 div" style="margin-top: 20px">
          <label style="font-weight: bold;">Início de Mandato:</label>
          <br>
          <label>{{orgao.inicioDeMandato}}</label>
        </div>
        <div class="p-col p-sm-11 div" style="margin-top: 20px">
            <label style="font-weight: bold;">Vigência:</label>
            <br>
            <label>{{orgao.vigenciaMandatoMeses}} Meses</label>
          </div>
        <div class="p-col p-sm-11 div" style="margin-top: 20px">
          <label style="font-weight: bold;">Recondução:</label>
          <br>
          <label>{{orgao.vigenciaReconducaoMeses}} Meses</label>
         </div>
        <!-- <div class="p-col p-sm-11 div" style="margin-top: 20px">
        <label style="font-weight: bold;">Quantidade mínima de docentes:</label>
        <br>
        <label>{{orgao.docenteQntdMin}} </label>
         </div>
        <div class="p-col p-sm-11 div" style="margin-top: 20px">
      <label style="font-weight: bold;">Quantidade máxima de docentes:</label>
      <br>
      <label>{{orgao.docenteQntdMax}}</label>
         </div> -->
</div>
    </p-card>
  </div>
  <div class="card">
    <p-card>
      <div class="p-grid">
        <div class="p-col"><label class="tituloPagina">Membros</label>
        </div>
        <div class="p-col-12 card-membro" *ngFor="let membro of orgao.membros">
          <div class="p-col-1">
              <i class="pi pi-user cardMembro"></i>
              <label class="labelMembro">Nome:{{membro.nome}}</label>
              <label class="labelMembro">Titulação:{{membro.titulacao}}</label>

          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>
